# macOS
.DS_Store

# Logs & Caches
*.log
*.bak
configstore/
simple-update-notifier/
flutter/tool_state
nvim.bak/plugin/packer_compiled.lua
nvim/plugin/packer_compiled.lua

# Tmux plugins (installed via tpm)
.config/tmux/plugins/

# Secrets
hetzner
hetzner.pub
*.pem
id_ed25519
id_rsa
gh/hosts.yml
rclone/rclone.conf
exercism/user.json
mcphub/servers.json
opencode/config.json

.config/zsh/config.d/
.config/gh/
